<!DOCTYPE html>
{% load staticfiles %} 
<!-- template tag for static file's address {% static "file name.ext" %} -->
<html>
<head>
    <meta charset="utf-8">
    <title> Chat Room </title>
    <link rel="stylesheet" type="text/css" href={% static "css/chatRoom.css" %}>
</head>

<body>
    <ul id="chatRoom"></ul>
    </br>
    <div id="username"></div>
    <input type="text" id="chatText"/>
    <button id="send">Send</button>
    <script src ={% static "js/jquery-1.11.0.min.js" %} ></script>
    <script src={% static "js/jquery.cookie.min.js" %}></script>
    <script src= {% static "js/chatApiClient.js" %} ></script>
    <script>
        chatClientModule.main();
    </script>
</body>
</html>